@import url("../css/_format_page.css");

.table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    width: 100%;
}

.table-element{
    width: 20%;
    text-align: left;
    margin-left: 1vw;
    padding: 1vh 0;
}

.name{
    width: 40%;
    text-align: start;
}

.even{
    background-color: 	#e6e6e6;
}

.input-edit{
    border: 1px #444 solid;
    border-radius: 4px;
    width: 80%;
}

.valid{
    background-color: #c8ffb2;
}

.invalid{
    background-color: #ffc4bc;
}