@import url("../css/_format_page.css");
@import url("../css/_test.css");

.table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.table-element{
    width: 40%;
    text-align: left;
    margin-left: 1vw;
    padding: 1vh 0;
}

.name{
    width: 40%;
    text-align: start;
}

.align{
    text-align: center !important;
}

.even{
    background-color: 	#e6e6e6;
}

.input-edit{
    border: 1px #444 solid;
    border-radius: 4px;
    width: 80%;
}

.valid{
    background-color: #c8ffb2;
}

.invalid{
    background-color: #ffc4bc;
}

.min, .max{
    display: none;
}

.visible{
    display: block;
    width: 20%;
}

.hidden{
    display: none;
}

.form{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 2%; 
    background-color: #444;
    align-items: center;
}

.form p{
    width: 10%;
    display: flex;
    justify-content: space-between;
    color: white;
}