@import url("../css/_for-all.css");


.centered-page{
    width: 70%;
    height: 85vh;
    background-color: whitesmoke;
    margin:auto;
    display: flex;
    align-content: center;
    justify-content: center;
}
