@import url("../css/_header.css");

:root{
    --hover: #2b2f33;
    --nemetale-bg-color: #46b980;
    --alcaline-bg-color: #b94646;
    --alcalino-pamantoase-bg-color: #b96346;
    --metaloizi-bg-color: #b99c46;
    --tranzitie-bg-color: #dd8c3c;
    --post-tranzitie-bg-color: #b9b946;
    --halogeni-bg-color: #9cb946;
    --gaze-nobile-bg-color: #80b946;
    --lantanide-bg-color: #46b980;
    --actinide-bg-color:#46b99c;

    --index-bg-color: #1a0013;
    --index-hover-bg-color: #330025;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
	border:none;
	font-family: Georgia;
}


body{
    background-image: url("../resources/images/fundal.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
