@import url("../css/_for-all.css");


.centered-page{
    width: 60vw;
    background-color: whitesmoke;
    margin:auto;
    display: flex;
}

.absolut{
    display:absolute;
    margin: 10vh 5vw;
    width: 100%;
}

.title, .subtitle{
    width: 50vw;
    padding-bottom: 35px; 
    margin: auto;
}

.title{
    text-align: center;
    font-size: 36px;
}

.subtitle{
    font-size: 20px;
    text-decoration-line: underline;
}

.content{
    text-align: justify;
    text-justify: inter-word;
    padding-bottom: 40px;
}

.circle {
    list-style: circle;
    text-align: justify;
    margin-left: 3%;
    margin-bottom: 1%;
}

img{
    width: 40%;
}
